<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>255666994311-n592b2q5amqv89v1chfq6mb19g1vtrrd.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.255666994311-n592b2q5amqv89v1chfq6mb19g1vtrrd</string>
	<key>API_KEY</key>
	<string>AIzaSyDZtCb83OMuZbz3Npqrlfm378VajVG2Z20</string>
	<key>GCM_SENDER_ID</key>
	<string>255666994311</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.MirceaEgry.shopimize</string>
	<key>PROJECT_ID</key>
	<string>shopimize</string>
	<key>STORAGE_BUCKET</key>
	<string>shopimize.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:255666994311:ios:d2f985360f02e914074c22</string>
</dict>
</plist>